In [97]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import plotly.express as px

In [89]:
df1 = pd.read_csv(r"C:\Users\rachi\OneDrive\Desktop\datahack_gitrepo\datasets\kaggle_18_21\startup_funding2019.csv")
df2 = pd.read_csv(r"C:\Users\rachi\OneDrive\Desktop\datahack_gitrepo\datasets\kaggle_18_21\startup_funding2020.csv")
df3 = pd.read_csv(r"C:\Users\rachi\OneDrive\Desktop\datahack_gitrepo\datasets\kaggle_18_21\startup_funding2021.csv")

In [90]:
df2.drop('Unnamed: 9', axis=1, inplace=True)

In [91]:
print(df1.shape)
print(df2.shape)
print(df3.shape)

(89, 9)
(1055, 9)
(1209, 9)

In [92]:
# merge data frames
df = pd.concat([df1,df2,df3], ignore_index=True)

In [93]:
df.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2353 entries, 0 to 2352
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2353 non-null   object
 1   Founded        2111 non-null   object
 2   HeadQuarter    2239 non-null   object
 3   Sector         2335 non-null   object
 4   What it does   2353 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount($)      2347 non-null   object
 8   Stage          1415 non-null   object
dtypes: object(9)
memory usage: 165.6+ KB

In [95]:
def convert_to_int(dataframe):
    # First, convert all values to string type
    dataframe['Founded'] = dataframe['Founded'].astype(str)

    # Remove any decimal points and extra whitespace
    dataframe['Founded'] = dataframe['Founded'].str.replace('.0', '').str.strip()

    # Convert the column to integer
    dataframe['Founded'] = pd.to_numeric(dataframe['Founded'], errors='coerce')

    return dataframe

df = convert_to_int(df)

In [99]:
def convert_amount_to_int(dataframe):
    # Define a function to extract numeric parts from the string
    def extract_numeric(value):
        try:
            # Remove any commas from the value and extract numeric part
            numeric_part = re.sub('[^0-9.]', '', value)
            return int(float(numeric_part))
        except (ValueError, TypeError):
            # Handle non-numeric values, e.g., "Undisclosed"
            return None

    # Apply the extract_numeric function to the "amount" column
    dataframe['Amount($)'] = dataframe['Amount($)'].apply(extract_numeric)

    return dataframe
df = convert_amount_to_int(df)

Numerical: Founded, Amount($)<br>
Categorical: 'HeadQuarter', 'Sector','Founders', 'Investor', 'Stage'

In [106]:
## Univariate Analysis
### Numerical

In [115]:
a = df["Sector"].value_counts().iloc[0:8]